 .bar-side-menu {
   background-color: #461d7c;
 }
 
 .bar-content {
   background-color: #461d7c;
 }
 
 .button.button-positive {
   border-color: #fafafa;
   background-color: #461d7c;
    color: #fafafa;
 } 
 
 .item-divider {
   background-color: #fafafa;
 }
