.error-notification-header
    &.alert.alert-error
        display: none

input.url-input
    &.has-error
        border: 2px solid red

#page-local-cas_help_links-analytics 
    h2.casstattitle
        text-align: center

    canvas#chart
        margin: 0 auto
        width: 60%
        height: auto

    div.singleselect
        display: inline
        text-align: center